@import 'includes.scss';

@font-face {
  font-family: "Lato Semibold Italic";
  src: url("/fonts/Lato-SemiboldItalic.ttf");
}

@font-face {
  font-family: "Lato Italic";
  src: url("/fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Semibold";
  src: url("/fonts/Lato-Semibold.ttf");
}

body {
  color: #292929;
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  background-color: #eaeaea;
  z-index: -2;
 }

 #customers{
   padding-top: 5vh;
 }

 #happyCustomers{
   height: fit-content!important;
   padding-top: 5vh;
 }

 #products{
   padding-top: 5vh;
   padding-bottom: 5vh;
 }


// begin achtergrond kleur
 #about{
   background-color: #c0deec;
 }
 #contact{
   background-color: #c0deec;
 }
// einde achtergrond kleur

#contact{
  padding-top: 2vh;
}

 #footer{
background-color: #83919a;
text-align: center;
margin-top: 0px !important;
display: flex;
 }

 .footer-text{
   margin-right: 5px;
 }

 .link{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
 }

 .margin-left-auto{
   margin-left:auto;
 }

 .margin-right-auto{
   margin-right:auto;
 }

 .home-md-toolbar{
   margin-top: 5vw;
   z-index: 2;
 }

 .home-top-menu-button{
  font-size: 2vw!important;
  text-transform: none!important;
  margin-right: 2.5vw!important;
  margin-left: 2.5vw!important;
  color: #49494a!important;
  font-family: Lato Regular;
 }

 .md-toolbar button{
  font-size: 1vw!important;
  text-transform: none!important;
  margin-right: 2.5vw!important;
  margin-left: 2.5vw!important;
  color: #49494a!important;
  font-family: Lato Regular;
 }

 .md-toolbar a:first-child{
   margin-left: 10vw!important;
 }

 .md-toolbar a{
   height: 5vh!important;
 }

 .md-toolbar img{
  height: 2vw!important;
 }

 .header-container {
  position: relative;
  text-align: center;
  color: white;
  max-height: 100vh;
  overflow: hidden;
}

.header-container-small {
 position: relative;
 text-align: center;
 color: white;
 max-height: 30vh;
 overflow: hidden;
}

.header-container p {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: Lato Regular;
font-size: 3vw;
line-height: 5vw;
color: #49494a;
}

.product-container{
  padding-left: 10vw;
  padding-right: 10vw;
}

.shop-container{
  padding-left: 10vw;
  padding-right: 10vw;
}

.cart-container{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
}

.cart-totaal-container{
    width: 10vw;
    float: right;
}

.margin-top-2vh{
  margin-top: 2vh!important;
}

.margin-top-5vh{
  margin-top: 5vh!important;
}

.margin-top-5vh-mobile {
    margin-top: 5vh!important;
}

.margin-top-10vh{
  margin-top: 10vh;
}

.margin-bottom-5vh{
  margin-bottom: 5vh;
}

.margin-bottom-10vh{
  margin-bottom: 10vh;
}

.product-row{
  width: 100%;
}

.product-block{
  position: relative;
  text-align: center;
  // width: 20vw;
  // height: 35vh;
}

.product-block p {
  position: absolute;
    width: 95%;
    left: 0px;
    bottom: 0;
    height: 10%;
    font-family: Lato Regular;
    font-size: 2vh;
    line-height: 4vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.4)
  }

.product-block img {
  width: 100%;
  height: 100%!important;
}

.all-products-link{
  font-family: Lato Regular;
  text-align: right;
  margin-right: 13vw;
}

.section-titel{
  font-family: Lato Regular;
  font-size: 5vh;
  margin-left: 11vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #49494a;
}

.product-page-titel{
  font-family: Lato Regular;
  font-size: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #49494a;
}

#contact .form{
  margin-left: 10vw;
  margin-right: 10vw;
}

#contact img{

}

#contact .md-layout.md-gutter{
  margin-right: 22vw!important;
  margin-left: 0px!important;
}

#customers img {
  margin-right: 2vw;
}

#customers .md-gutter {
  margin-left: 10vw;
  margin-right: 10vw;
}

#happyCustomers img {
  margin-right: 2vw;
}

#happyCustomers .md-gutter {
  margin-left: 10vw;
  margin-right: 10vw;
}

#about .container{
  display: flex;
}

#about img{
  max-width: 100%;
  height: auto!important;
  object-fit: contain;
  box-shadow: 0px 0px 20px 16px rgba(0, 0, 0, 0.2);
}

.about-tekst-blok{
}

.about-tekst-blok h2{
  font-family: Lato Regular;
  font-size: 5vh;
  color: #49494a;
}

.about-tekst-blok p{
  font-family: Lato Regular;
  font-size: 3vh;
  line-height: 3.5vh;
}

 .home-menu{
   position: absolute!important;
 }

 .logo-top{
   width: 18vw;
   padding: 1vw;
   background-color: white;
   // box-shadow: 0px 0px 20px 16px rgba(0, 0, 0, 0.2);
 }

 .logo-container{
   text-align: center;
    width: -webkit-fill-available;
    position: absolute;
    z-index: 1;
 }

 .float-left{
   float: left;
 }

.titel-icon {
  font-size: 3vh !important; }

.display-flex {
  display: flex; }

.margin-left-1-5vw {
  margin-left: 1.5vw; }

.grey {
  color: grey; }

.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-auto-top-bottom {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-50-top-bottom{
  margin-top: 50%;
  margin-bottom: 50%;
}

.margin-right-1vw {
  margin-right: 1vw!important; }

.margin-left-2vw {
  margin-left: 2vw; }

.text-align-left {
  text-align: left; }

.ta-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

.margin-left-3px{
  margin-left: 3px;
}

.margin-left-5 {
  margin-left: 5%; }

.margin-top-10 {
  margin-top: 10% !important; }

.margin-top-5 {
  margin-top: 5%; }
.ma-t-70 {
    margin-top: 70px !important; }

  .margin-top-2 {
    margin-top: 2%; }

  .margin-bottom-2vh {
    margin-bottom: 2vh !important; }

.margin-bottom-10 {
  margin-bottom: 10% !important; }

.margin-bottom-5 {
  margin-bottom: 5%; }

.margin-bottom-15px {
  margin-bottom: 1vh; }

.wrapper {
  width: 100%;
  padding: 1% 10%;
  align-content: center;
  text-align: center; }

.home-logo {
  margin-left: auto;
  margin-right: auto;
  height: 10vh !important;
}


.home-logo-kleiner {
  margin-left: auto;
  margin-right: auto;
  height: 10vh !important; }

.home-text-box {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%; }

.input-titel {
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 900;
  font-size: 3vh; }

.input-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 40%; }


.input-row-content {
  width: fit-content;
  float: right;
  display: flex;
  margin-bottom: 1vh; }

.input-row {
  width: 100%; }

.input-name {
  font-size: 2vh;
  margin-top: 0.5vh; }

.input-field {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  height: 5vh;
  padding: 0 5px; }

.input-field-postcode {
  width: 9vw !important;
  margin-right: 1vw; }

.input-field-huisnummer {
  width: 5vw !important; }

.back-button-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 3vh;
  font-weight: 900;
  padding: 1%;
  padding-left: 2vw; }

.back-button-dashboard {
    position: fixed;
    left: 250px;
    bottom: 0;
    font-weight: 900;
    padding: 1%; }

.home-dashboard-button {
  position: fixed;
    left: 10px;
    top: 10px;
}
.continue-button-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 2.8vh;
  padding: 1%;
  padding-right: 2vw; }

.reparatie-input-left {
  width: 30%;
  margin-right: 10%;
  text-align: left; }

.reparatie-input-right {
  width: 50%;
  margin-left: 10%;
  margin-top: 2vh; }

.reparatie-text-area {
  width: 100%;
  margin-bottom: 5%;
  height: 30%;
  max-height: 20vh;
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  padding-left: 1%;
  font-size: 2vh; }

.select-klant-button {
  width: fit-content; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3vw;
  height: 3vh; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 2.5vh;
  width: 1.3vw;
  left: 5%;
  bottom: 10%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(1.4vw);
  -ms-transform: translateX(1.4vw);
  transform: translateX(1.4vw); }

/* Rounded sliders */
.slider.round {
  border-radius: 3vh; }

.slider.round:before {
  border-radius: 50%; }

.slider-value {
  margin-top: 0;
  margin-right: 1vw;
  margin-left: 1vw; }

.modal-background {
  background-color: lightgray;
  opacity: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2; }

.modal {
  position: fixed;
  width: 40%;
  height: fit-content;
  top: 10%;
  left: 30%;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  padding: 5px; }

.modal-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: fit-content;
  height: fit-content; }

.close-modal-button {
  font-size: 2vh;
  float: right;
  padding-right: 10px;
  padding-top: 10px; }

.scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; }

.table-wrapper {
  overflow: hidden;
  overflow-y: scroll;
  width: 90%;
  height: 90%;
  margin: 5%; }

.modal-table {
  border-collapse: collapse;
  width: 100%; }

.modal-table td, .modal-table th {
  border: 1px solid lightgray;
  padding: 2%; }

.modal-table tr:nth-child(even) {
  background-color: #f2f2f2; }

.modal-table tr:hover {
  background-color: #ddd; }

.modal-table th {
  background-color: white;
  color: #292929; }

.row {
  width: 100%;
  display: flex; }

.half-row {
  width: 50%; }

.block {
  width: 100%;
  display: flex; }

.half-block {
  width: 50%; }

.modal-content-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.overzicht-text-box {
  background-color: lightgray;
  border-radius: 10px;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 90%; }

.Aanvraag-input-box {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }

.dashboard-menu-wrapper {
  display: flex; }

.dashboard-side-menu {
  width: 10vw;
  height: 100%;
  border-width: 0.1px;
  border-right-style: solid;
  border-right-color: #292929; }

.dashboard-content {
  width: 90%;
  height: 100%; }

.sidebar-logo {
  width: 100%;
  border-bottom: 0.1px;
  border-bottom-style: solid;
  border-bottom-color: #292929; }

.sidebar-item {
  padding: 1vh 0;
  width: 100%;
  border-bottom: 0.1px;
  border-bottom-style: solid;
  border-bottom-color: #292929;
  text-align: center;
  font-size: 1.8vh; }

.sidebar-back-button {
  height: 5vh;
  width: 9%;
  padding-top: 1vh;
  border-width: 0.1px;
  border-top-style: solid;
  border-top-color: #292929;
  border-right-style: solid;
  border-right-color: #292929;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 2vh; }

.search-bar-container {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: 2vw;
  margin-top: 12vh; }

.dashboard-search-bar-titel {
  font-size: 2vh; }

.dashboard-search-bar {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  padding-left: 1vw;
  font-size: 2vh; }

.dashboard-table {
  border-collapse: collapse;
  width: 100%; }

.dashboard-table th {
  background-color: white;
  text-align: left;
  color: #292929;
  padding-left: 1vw;
  padding-top: 2vh;
  height: 4vh;
  font-size: 2vh; }

.dashboard-table td {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  font-size: 1.7vh; }

.dashboard-table td, .dashboard-table th {
  border-top: 1px solid lightgray; }

.dashboard-table tr:nth-child(even) {
  background-color: #f2f2f2; }

.dashboard-table tr:hover {
  background-color: #ddd; }

.dashboard-table th {
  background-color: white;
  color: #292929; }

.dashboard-table-wrapper {
  overflow: hidden;
  height: 73vh; }

.dashboard-footer {
  border-top-style: solid;
  border-left-style: solid;
  border-color: lightgrey;
  width: 100%;
  height: 5vh;
  border-width: thin; }

.pagination {
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh; }

.pagination-arrow-left {
  margin-right: 10%;
  font-size: 2vh; }

.pagination-text {
  font-size: 2vh;
  text-align: center; }

.pagination-arrow-right {
  margin-left: 10%;
  font-size: 2vh; }

.footer-button {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 5vh;
  width: 10vw;
  font-size: 2vh;
  font-weight: 500; }

.footer-button-text {
  margin-top: 1vh; }

.order-by-header {
  display: flex;
  width: fit-content; }

.order-by-arrow {
  width: fit-content;
  margin-left: 0.3vw;
  color: lightgray;
  font-weight: 900; }

.upside-down {
  transform: rotate(180deg); }

.activeOrderBy {
  color: black !important; }

.klant-file-table-wrapper {
  height: 27vh;
  overflow: hidden; }

.dashboard-klant-input-box {
  width: 25%;
  height: 8.5vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-right: 0.5vw;
  padding-left: 0.5vw; }

.klant-input-titel {
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 500;
  font-size: 1.8vh; }

.dashboard-klant-input-field {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  width: 80%;
  height: 50%;
  font-size: 2vh;
  padding-left: 3%; }

.dashboard-klant-input-field-postcode {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  width: 50%;
  height: 100%;
  font-size: 2vh;
  padding-left: 3%;
  margin-right: 10%; }

.dashboard-klant-input-field-huisnummer {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  font-size: 2vh;
  padding-left: 3%; }

.klant-input-save-button {
  font-weight: 900;
  margin-top: 4vh;
  margin-left: 5vw;
  font-size: 3vh; }

.klant-input-terug-button {
  position: fixed;
  right: 2vw;
  top: 2vh;
  font-size: 2vh;
  font-weight: 500; }

.header-icon {
  font-size: 4vh !important;
  margin-right: 1vw !important; }

.add-contract-button {
  font-size: 2vh;
  font-weight: 900;
  padding: 1vh;
  margin-left: 2vw;
  display: flex;
  width: fit-content; }

.add-contract-icon {
  margin-left: 0.5vw;
  margin-top: 0.5vh; }

.upload-file-modal {
  position: fixed;
  width: 20%;
  height: fit-content;
  top: 30%;
  left: 40%;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  border: solid;
  border-width: 0.1px;
  border-color: lightgray; }

.upload-box {
  width: 90%;
  height: 50%;
  border-style: dashed;
  border-width: 3px;
  border-color: lightgray;
  font-size: 2vh;
  font-weight: 900;
  line-height: 200%; }

.modal-hidden-file-input {
  text-align: center;
  margin-left: 5%;
  width: 90%;
  height: 50%;
  position: absolute;
  z-index: 1;
  opacity: 0; }

.upload-file-icon {
  font-size: 9vh !important; }

.text-uploaded-file {
  margin-top: 1vh;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1vh;
  max-width: 20vw;
  overflow-wrap: anywhere; }

.add-customer-button {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 5vh;
  font-size: 2vh;
  display: flex;
  padding: 1vh; }

.overzicht-titel {
  font-weight: 900;
  margin-left: 1vw; }

.overzicht-value {
  margin-left: 2%; }

.half-modal {
  height: 100%;
  width: 50%; }

.text-blok-row {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  height: 37vh;
  margin-left: 1%; }

.half-row-text-container {
  width: 50%;
  height: 100%; }

.dashboard-text-area {
  width: 90%;
  height: 75%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 3%;
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  font-size: 2vh;
  resize: none; }

.dashboard-klant-input-container-full {
  height: 78vh;
  width: 96%;
  margin-left: 2%; }

.button-fixed-bottom-right {
  font-weight: 900;
  font-size: 3vh;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1%; }

.create-ticket-modal {
  position: fixed;
  width: 400px;
  height: 300px;
  top: 35%;
  left: 40%;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  border: solid;
  border-width: 0.1px;
  border-color: lightgray; }

.create-ticket-titel {
  font-size: 3vh;
  font-weight: 500;
  margin-left: 2vw;
  margin-top: 2vh; }

.reminders-container {
  height: 78vh;
  width: 90vw;
  display: flex; }

.reminders-box {
  height: 100%;
  width: 30vw;
  border-color: lightgray;
  border-style: solid;
  border-width: 0.1px; }

.reminders-box-titel {
  font-weight: 900;
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 3vw; }

.reminder-row {
  display: flex;
  margin-left: 3vw;
  margin-bottom: 0.5vh;
  font-size: 2vh !important;
  width: 80%; }

.reminders-add-container {
  margin-left: 3vw;
  width: 60%; }

.reminders-input-text {
  font-size: 2vh; }

.reminders-text-input {
  height: 3vh;
  margin-top: 0.5vh;
  width: 100%;
  font-size: 2vh;
  padding-left: 0.5vw;
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px; }

.reminders-add-button {
  text-align: center;
  width: 100%;
  margin-top: 0.5vh; }

.active-reminder-text {
  margin: 0 0 0 1vh; }

.reminder-text-date {
  margin-left: 0.5vw;
  font-size: 1.5vh;
  margin-top: 1%; }

.reminders-box {
  height: 73vh; }

  #bedankt .md-button {
      margin-bottom: 3vh !important;
  }

.home-container {
  height: 78vh;
  width: 90vw; }

.home-content-box-row {
  width: 100%;
  height: 50%;
  display: flex; }

.home-content-box {
  width: 25%;
  height: 100%;
  border-color: lightgray;
  border-style: solid;
  border-width: 0.1px;
  text-align: center; }

.home-content-titel {
  margin-top: 7.5%;
  font-size: 3vh; }

.home-content-info-container {
  margin-top: 7.5%; }

.home-content-info-row {
  margin-bottom: 2vh;
  width: 100%;
  display: flex;
  font-size: 1.6vh; }

.home-content-info-half-row-left {
  width: 50%;
  text-align: right; }

.home-content-info-half-row-right {
  width: 45%;
  margin-left: 5%;
  text-align: left; }

.home-add-button {
  display: flex;
  font-size: 2vh !important;
  width: fit-content;
  float: right;
  margin-right: 0.5vw;
  cursor: pointer; }

.color-red {
  color: red; }

.margin-top-8 {
  margin-top: 8%; }

.home-reminder-container {
  height: 60%; }

.cursor-pointer {
  cursor: pointer; }

.aanvraagOverzichtHandtekening {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  width: 92% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  height: 20vh !important; }

.handtekening-undo-button {
  margin-top: 1vh;
  margin-bottom: 2vh; }

.reparatie-overzicht-textarea {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  height: 10%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 1%;
  height: 10vh;
  width: 80%;
  overflow: hidden;
  overflow-y: scroll; }

.reparatieOverzichtHandtekening {
  border: solid;
  border-width: 0.1px;
  border-color: lightgray;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 200px !important; }

.menu-item-icon {
  margin-right: 0.2vw;
  vertical-align: middle; }

.table-icon {
  font-size: 20px !important;
color: $text;}

.md-table-head.md-numeric {
  text-align: left !important;
}
.md-table-cell.md-numeric {
  text-align: left !important;
}

  // BUTTON STYLING

  .home-button-row {
    width: 100%;
    display: flex;
    margin-top: 25vh; }

  .home-button {
    width: 25%;
   }

.big-md-icon {
  height: 50px !important;
  width: 50px !important;
  position: fixed !important;
  top: 10px;
  left: 10px;
}

.big-md-icon .md-icon {
  font-size: 40px !important;
}

.small-md-button {
  font-size: 20px !important;
}
.med-md-button {
  font-size: 30px !important;
}
.big-md-button {
  height: 50px !important;
  font-size: 45px !important;
}

.md-button.md-theme-default.md-primary {
  color: $main-color !important;
}

.md-button.md-theme-default.md-accent {
  color: $accent-color !important;
}
.md-table-cell-container {
  display: contents !important;
}
div .display-flex {
  padding-top: 8px !important;
}

// CARD STYLING

.md-card.md-theme-default.md-accent {
  background-color: rgba(255, 255, 255, 0.9) !important;
  color: $text !important;
}

.card-icon {
  padding: 5px;
  margin-top: -40px;
  margin-right: 15px;
  float: left;
}

.card-icon .md-icon {
  width: 60px;
  height: 60px;
  font-size: 40px !important;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 153, 0, 0.658);
  background-color: $main-color;
  color: white !important;
}

.stats {
  display: flex;
}

.stats a {
  display: flex;
}

.big-md-card {
  height: fit-content;
  min-height: 200px;
  max-height: 400px;
}

.d-contents {
  display: contents;
}

// LAYOUT

.spacer {
  margin-top: 10%;
}
.homespacer {
  margin-top: 20%;
}

.content {
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
    // font-family: Roboto,Noto Sans,-apple-system,BlinkMacSystemFont,sans-serif !important;
}
.float-right {
  float: left;
}

.content .md-layout.md-gutter {
  margin-top: 4%;
}
.content .md-layout.md-gutter.top-row {
  margin-top: 2%;
}
.input-wrapper .md-primary {
  margin-bottom: 30px;
}
.modal-content-box .input-wrapper {
  width: 80%;
}
.input-wrapper-modal {
  margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
.md-switch {
  display: flex;
}
.nomargin {
  margin: 0 !important;
}
.md-field:after, .md-field:before {
  z-index: 0 !important;
}
.md-layout.md-gutter>.md-layout-item {
  padding-left: 0 !important;
}
.md-layout.md-gutter>.md-layout-item {
  padding-left: 0 !important;
}

.md-layout-item.md-small-size-100.mdli-r {
  padding-right: 0 !important;
}
.in-between {
  justify-content: space-between !important;
}
      // MEDIAQUERY

      @media (max-width: 1280px) {


      }
      @media (max-width: 960px) {
      .gutter-onboarding {
          padding-top: 100px;
      } }

      @media (max-width: 600px) {

.mobile-spacer {
    padding: 30px 0;
    width: 100%;
}
      }

// DASHBOARD SIDEBAR

.full-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.list {
  width: $list-width;
  height: 100vh;
}

.full-control > .md-list {
  width: $list-width;
  max-width: 100%;
  height: 400px;
  display: inline-block;
  overflow: auto;
  border: 1px solid rgba(#000, .12);
  vertical-align: top;
}

.control {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.list .md-list.md-theme-default {
  background-color: transparent !important;
  height: 100% !important;
}
.md-list-item-content>.md-icon:first-child {
  margin-right: 8px !important;
}

.md-list-item-content>.md-icon:last-child {
  margin-left: 8px !important;
}

.md-list-item.md-inset .md-list-item-content {
  padding-left: 10px !important;
  justify-content: flex-start !important;
}

.sidebar_background {
  background: url("/images/bg/bg_sidebar1.jpg");
  background-size: cover;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
}

.md-listitem-bot {
  margin-top: auto !important;
}

.select-modal {
  position: fixed;
  width: 30%;
  height: fit-content;
  // top: 10%;
  // left: 30%;
  z-index: 4;
  background-color: white;
  border-radius: 5px;
  border: 0.1px solid lightgray;
  padding: 10px;
}

.content .md-layout.md-gutter {
  margin-right: 0px;
  margin-left: 0px; }

.md-table.md-theme-default .md-table-row td {
    padding-right: 32px;
    padding-left: 24px;
}

// TEXT STYLING

.text-danger {
  color: red;
}

.ta-right {
  text-align: right !important;
}
.ta-left {
  text-align: left !important;
}
.ta-just {
  text-align: justify !important;
}
.row .md-subheading {
  margin-right: 10px !important;
}
.md-table-head-container.md-ripple {
  z-index: 1;
}
.modal-content-box .input-wrapper .md-field {
  margin: 4px 0 8px;
}
// ICONS

.md-field>.md-icon {
  z-index: 0 !important;

}

.md-card-header {
    padding: 0px !important;
}

.md-textarea{
  resize: none !important;
}

.container-uploading-image img{
  width: 20vw;
  height: 20vw!important;
}

.container-uploading-image-happy-customer img{
  width: 10vw;
  height: 20vw!important;
}

.container-uploading-image-happy-customer{
  margin-right: auto;
  margin-left: auto;
  width: 20vw;
  height: 20vw;
  background-image: url(/images/square-placeholder.jpg);
  background-size: cover;
}

.container-uploading-image{
  margin-right: auto;
  margin-left: auto;
  width: 20vw;
  height: 20vw;
  background-image: url(/images/square-placeholder.jpg);
  background-size: cover;
}

.clickable{
  cursor: pointer;
}

.shop-link-container{
  display: flex;
}

.color-white{
  color: white !important;
}

.position-relative{
  position: relative;
}

.bottom-right{
  position: absolute;
  bottom: 0;
  right: 0;
}

.fill-available{
  width: -webkit-fill-available;
}

.cart-container .md-button-content {
   color: white;
}

.md-tabs-navigation .md-button{
  margin-left: auto!important;
  margin-right: auto!important;
}

.md-dialog-actions{
  margin-left: auto!important;
  margin-right: auto!important;
}

.padding-right-10vw{
  padding-right: 10vw!important;
}

.padding-top-15vh{
  padding-top: 15vh!important;
}

.product-container .md-button-content{
  color: white;
}

#bedankt .md-button-content{
  color: white;
}

.overflow-scroll{
  overflow-y: scroll;
}

#EditBestelling .md-steppers-wrapper{
  overflow-y: scroll!important;
}

.order-toolbar .md-button-content{
  color: white;
  font-size: 2vh;
}

#contact .md-button-content{
  color: white;
}

.pagina-content-editor .md-button-content{
  color: white;
}

.dashboard-edit-container .md-button-content{
  color: white;
}

.dashboard-menu-wrapper .md-card-header{
  margin-right: 1vw;
}

#page-content-editor .md-steppers-wrapper{
  overflow-y: visible!important;
  overflow-x: hidden!important;
  height: 700px!important;
}

.aboutFoto{
  width: 40vh;
  height: 40vh;
}

#case-example-cover {
    display: inline-block;
}

#nav-container {
    position: relative;
    height: fit-content;
    width: fit-content;
}

#nav-container img {
    display: block;

}
#nav-container span {
    position: absolute;
    top:50%;
    color: black;
    font-size: 3vw!important;
    margin-right: 1vw;
    margin-left: 1vw;
    cursor: pointer;
}

#case-left {
    left: 0;
    transform: rotate(180deg)!important;
}

#case-right {
    right: 0;
}

#about-img-container{
  padding-top: 15vh!important;
  padding-bottom: 15vh!important;
  padding-left: 10vw!important;
  padding-right: 10vw!important;
}

.mobile-menu{
  display: none!important;
}

.mobile-view-profile-button{
  display: none!important;
}

.mobile-buy-button{
  display: none;
}

.break-words{
  overflow-wrap: break-word;
}

.md-content.md-theme-default {
    background-color: transparent!important;
    background-color: transparent!important;
    color: rgba(0,0,0,0.87);
    color: var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.87));
}

.footer-margin-bottom{
  display: none;
}

.md-checkbox .md-checkbox-label {
    line-height: 14px!important;
}

.md-field.md-theme-default.md-focused .md-input, .md-field.md-theme-default.md-focused .md-textarea, .md-field.md-theme-default.md-has-value .md-input, .md-field.md-theme-default.md-has-value .md-textarea {
    overflow: hidden;
}

.md-dialog-container.md-theme-default {
    background-color: #fff;
    background-color: var(--md-theme-default-background, #fff);
    color: rgba(0,0,0,0.87);
    color: var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.87));
}

.md-dialog-container {
    max-height: 82%;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) and (orientation: landscape) {

  .about-tekst-blok h2 {
      font-size: 3vh;
  }

  .about-tekst-blok p {
      font-size: 2vh;
      line-height: 2.5vh;
  }

.input-wrapper {
    width: 60%!important;
}

.margin-50-top-bottom {
    margin-top: 20%;
    margin-bottom: 0%;
}

.section-titel {
    font-size: 3vh;
    margin-left: 9vw;
    margin-top: 0vh;
}

.margin-top-5vh-mobile {
    margin-top: 0vh!important;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (orientation: landscape) {

  .about-tekst-blok h2 {
      font-size: 3vh;
  }

  .about-tekst-blok p {
      font-size: 2vh;
      line-height: 2.5vh;
  }

.input-wrapper {
    width: 60%!important;
}

.margin-50-top-bottom {
    margin-top: 20%;
    margin-bottom: 0%;
}

.section-titel {
    font-size: 3vh;
    margin-left: 9vw;
    margin-top: 0vh;
}

.margin-top-5vh-mobile {
    margin-top: 0vh!important;
}

#contact .md-checkbox-label{
  font-size: 10px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (orientation: portrait) {

  #about-img-container {
    padding-top: 10vh !important;
    padding-bottom: 10vh !important;
    padding-left: 10vw !important;
    padding-right: 10vw !important;
}

  .padding-top-15vh {
    padding-top: 5vh !important;
}

  .about-tekst-blok h2 {
      font-size: 3vh;
  }

  .about-tekst-blok p {
      font-size: 1.5vh;
      line-height: 2vh;
  }

.input-wrapper {
    width: 60%!important;
}

.margin-50-top-bottom {
    margin-top: 20%;
    margin-bottom: 0%;
}

.section-titel {
    font-size: 3vh;
    margin-left: 9vw;
    margin-top: 0vh;
}

.margin-top-5vh-mobile {
    margin-top: 0vh!important;
}

#contact .md-checkbox-label{
  line-height: 15px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) and (orientation: landscape) {

  .home-top-menu-button {
      margin-right: 0vw !important;
      margin-left: 0vw !important;
  }

  #contact .md-checkbox-label{
    font-size: 10px;
    line-height: 14px;
  }

  #customers{
    font-size: 10px;
    line-height: 13px;
  }

  #products .md-card .md-title {
    font-size: 14px;
    line-height: 20px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) and (orientation: portrait) {

  .home-top-menu-button {
      margin-right: 0vw !important;
      margin-left: 0vw !important;
  }

  #contact .md-checkbox-label{
    font-size: 10px;
    line-height: 12px;
  }

  #customers{
    font-size: 10px;
    line-height: 13px;
  }

  #products .md-card .md-title {
    font-size: 14px;
    line-height: 20px;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  #bedankt .md-title {
      font-size: 5vw !important;
      line-height: 5.5vw !important;
  }

  #header .md-icon {
      color: black !important;
      margin-top: 2vh;
      font-size: 8vw!important;
      font-weight: bold!important;
  }

  #header .md-drawer{
    position: fixed;
  }

  .md-toolbar.md-theme-default.md-primary {
    background-color: transparent!important;
    box-shadow: none!important;
    position: fixed;
}

  #products .md-card .md-title {
    font-size: 10px!important;
    line-height: 2px!important;
}

#products {
    padding-top: 3vh;
    padding-bottom: 0vh;
}

.section-titel {
    margin-bottom: 2vh;
}

.about-tekst-blok p {
    font-size: 1vh!important;
    line-height: 1.5vh!important;
}

.md-title {
    font-size: 12px!important;
    line-height: 12px!important;
}

.margin-50-top-bottom {
    margin-top: 50%;
    margin-bottom: 50%;
}

#customers {
    font-size: 8px;
    line-height: 8px;
}

#footer{
  font-size: 8px;
}

.instagram-box{
    margin-left: 10vw;
    margin-top: 2vh;
}

.instagram-box .md-button{
  margin-left: 5vw;
  margin-right: 10vw;
}

#contact .md-layout.md-gutter {
    margin-right: 10vw !important;
    margin-left: 0px !important;
}

#products .all-products-link{
  margin-top: 0;
}

.home-menu{
  display: none!important;
}

.logo-container{
}

.mobile-menu{
  display: block!important;
}

.logo-container-mobile{
  display: block;
}

#happyCustomers {
    font-size: 8px;
    line-height: 8px;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

.section-titel{
  margin-bottom: 1vh;
  font-size: 2vh;
}

#products .all-products-link {
    font-size: 4vw;
}

.about-tekst-blok h2 {
    font-size: 4vw;
}

.about-tekst-blok p {
    font-size: 2vw !important;
    line-height: 2.5vw !important;
}

.md-title {
    font-size: 4vw !important;
    line-height: 4.5vw !important;
}

#customers {
    font-size: 1.5vw;
    line-height: 2vw;
}

#customers .section-titel {
    margin-bottom: 2vh;
    margin-left: 5vh;
}

.margin-50-top-bottom {
    margin-top: 25%;
    margin-bottom: 0%;
}

.mobile-view-profile-button{
  display: block!important;
}

.normal-view-profile-button{
  display: none!important;
}

.instagram-box .md-button {
    margin-left: auto;
    margin-right: auto;
}

.shop-grid p {
    font-size: 2vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    line-height: 1.5vw;
}

.related-product-gutter p{
  font-size: 2vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  line-height: 1.5vw;
}

.product-page-titel {
    font-size: 5vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#case-example-cover {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.mobile-buy-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav-container span {
    font-size: 7vw !important;
}

.md-field label {
    font-size: 3vw!important;
}

.cart-gutter {
    font-size: 1.5vw;
    line-height: 2vw;
}

#cart .table-icon {
    font-size: 2.5vw !important;
}

.md-field.md-focused .md-input, .md-field.md-focused .md-textarea, .md-field.md-has-value .md-input, .md-field.md-has-value .md-textarea {
    font-size: 3.5vw!important;
}

.cart-gutter .md-field label {
    font-size: 1.5vw !important;
}

.cart-container {
    padding-left: 0vw;
    padding-right: 0vw;
    padding-bottom: 0vh;
}

.input-wrapper {
    width: 80% !important;
}

.bestel-gegevens-input .md-field.md-focused .md-input, .md-field.md-focused .md-textarea, .md-field.md-has-value .md-input, .md-field.md-has-value .md-textarea {
    font-size: 3.5vw !important;
}

#cart .shop-link-container {
    display: flex;
    margin-left: 6vw;
}

#bedankt {
  margin-bottom: 2vh;
}

#happyCustomers {
    font-size: 1.5vw;
    line-height: 2vw;
}

#happyCustomers .section-titel {
    margin-bottom: 2vh;
}

.bestel-info-check{
  font-size: 4vw !important;
}

.footer-margin-bottom{
  width: 100%;
  height: -webkit-fill-available;
  display: block;
}

#bedankt .md-title {
    font-size: 6vw !important;
    line-height: 6.5vw !important;
}

#bedankt .md-button {
    margin-bottom: 3vh !important;
}

}

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//
// }
